.wrapper-task-card {
    position: relative;
    height: 175px;
    max-width: 235px;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 15px;
    -webkit-box-shadow: 2px 3px 17px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 17px -10px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 17px -10px rgba(0,0,0,0.75);
}


.card-low-priority {
    background-color: #ccf5bc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-high-priority {
    background-color: #FFC599;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-critical-priority {
    background-color: #F53E3E;
    color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    border-radius: 4px 4px 0 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    height: 60px;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    width: auto; 
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; 
}

.deadline-date {
        height: 60px;
        padding: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-style: normal;
        font-weight: 500;
        width: auto; 
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3; 
}

.delete-button {
    position: absolute;
    top: 5px;
    right: -5px;
    background-color: transparent;
    border: none;
    cursor: pointer
}

.delete-button:hover {
    opacity: 0.7;
}

.wrapper-modal-details {
    width: 500px;
}

.wrapper-details-data {
    display: flex;
    justify-content: center;
    margin: 15px;
    font-size: 15px;
    color: #77757F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.07px;
}

.wrapper-detail {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size: 15px;
    color: #77757F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.07px;
}


.wrapper-has-attachment {
    border: 2px solid #77757F;
    border-radius: 4px;
    margin: 10px;
    padding: 5px;
    font-size: 15px;
    color: #77757F;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.07px;
    cursor: pointer;
}

